{%extends 'base.html'%}

{% block content %}
{{block.super}}

<style>
    body{
        background-image:url("https://images.unsplash.com/photo-1451976426598-a7593bd6d0b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTZ8NDY1MzcyNXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>

<div class ="container"; style="font-family: 'Courier New', Brush Script; width: 100%;">
 
<div class="container" >
    <div class="text-white text-center" >
        <h1 style="margin-top:10%"> Welcome to the Nyumba Kumi App</h1>
        
        <a href="{% url 'hoods' %}" class="btn btn-sm btn-success mt-4">Join Neighbourhood</a>
    </div>

</div>
</div>


{% endblock %}