{%extends 'base.html'%}

{% block content %}
{{block.super}}

<style>
    body{
        background-image:url("https://images.pexels.com/photos/776516/pexels-photo-776516.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>

<div class ="container"; style="font-family: 'Courier New', Brush Script; width: 100%;">
 
<div class="container" >
    <div class="text-white text-center" >
        <h1 style="margin-top:10%"> Welcome to the Nyumba Kumi App</h1>
        
        <a href="{% url 'hoods' %}" class="btn btn-sm btn-success mt-4">Join Neighbourhood</a>
    </div>

</div>
</div>


{% endblock %}