{% extends "base.html" %}
{% block content %}
<style>
    .image{
        height: auto;
        width: 100%;
    }
    .hood{
        margin-top: 5%;
    }
</style>
<div class="container hood">
      <div class="hoods">
          <div class="row">
            <div class="col-md-6">
                <img src="{{hoods.neighs_image.url}}"class="image">
            </div>
            <div class="col-md-6">
                <p>Neighborhood_Name: {{hoods.name}}</p>
                <p>Neighborhood_Description: {{ hoods.description }}</p>
                <p>Neighborhood_Count: {{hoods.occupants_count}}</p>
                <p>Police Conctact: 999999999</p>
                <p>Hospital Hotline: 116116116 </p>
                <p>Neighborhood_Location: {{ hoods.location }}</p>
                <p>Date Created: {{ hoods.created_on|date }}</p>
                <p>Date Updated: {{ hoods.updated_on|date}}</p>
            </div>
            
          </div>
        
    </div>
   
</div>


{% endblock %}